#userName{
  padding-top: 0px;
  position: relative;
}

.addClientWrapper{
display: flex;
justify-content: center;
position: relative;
}

.profile-wrapper{
    // background: teal;
    // background: linear-gradient(to right, teal, #648880 85%, teal);
    border-radius: 6px;
    height: 100vh;
    position: relative;
}

.cool-background{
  position: absolute;
  background-repeat: no-repeat;
  height: 100vh;
}

.logoutbutton{
  float: right;
  position: relative;
}
.profile-hero{
  position: relative;
  position: relative;
}

.clientsList{
  margin-top: 50px;
  display: grid;
  justify-content: space-between;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  grid-template-rows: 200px ;
  position: relative;
}

.userPicFormWrapper{
display: flex;
flex-direction: column;
align-items: flex-start;
position: relative;
}

.image-frame{
  float: left;
  position: relative;
}
.userPicture{
  border-radius: 50%;
  position: relative;
}

