#userName{
  padding-top: 0px;
}

.addClientWrapper{
display: flex;
justify-content: center;
}

.logoutbutton{
  float: right;
}

.clientsList{
  margin-top: 50px;
  display: grid;
  justify-content: space-between;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 200px 
}

.userPicFormWrapper{
display: flex;
flex-direction: column;
align-items: start;
}