#userName{
  padding-top: 0px;
}

.addClientWrapper{
display: flex;
justify-content: center;
}

.profile-wrapper{
    background: teal;
    background: linear-gradient(to right, teal, #648880 85%, teal);
    border-radius: 6px;
    height: 100vh;
}

.logoutbutton{
  float: right;
}
.profile-hero{
  position: absolute;
}

.clientsList{
  margin-top: 50px;
  display: grid;
  justify-content: space-between;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  grid-template-rows: 200px 
}

.userPicFormWrapper{
display: flex;
flex-direction: column;
align-items: flex-start;
}

.image-frame{
  float: left;
}
.userPicture{
  border-radius: 50%;
}

